.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1rem;
}

.oi {
    width: 2.2rem;
    font-size: 1.2rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}

    .nav-item:first-of-type {
        padding-top: 0.5rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 0.8rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.navbar-toggler {
    font-size: 1.2rem;
    border-color: none;
    padding: .25rem .75rem;
    transition: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: none;
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
