@page "/history"

<h3>Track History</h3>

<em>Coming soon...</em>

@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.BigPlayerUI = false;
        AppState.UiReady = true;       
    }
}
