@page "/profile"
 <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(0)" Easing="Easings.EaseInOut">
<h3>User Profile</h3>
<p>This is your artist profile, at the moment you can only have one per account.</p>
<p>If you want to make changes to how you </p>
<p>Set up your user profile</p>
<em>Coming soon...</em>

 </Animate>
<br />
<br />
<br />
<br />

@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.BigPlayerUI = false;
        AppState.UiReady = true;       
    }
}