@page "/submit"

 <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(0)" Easing="Easings.EaseInOut">

    <h3>Submit a Track</h3>

    <p>Upload a track for the radio playlist</p>
    <em>Coming soon...</em>

</Animate>
<br />
<br />
<br />
<br />

@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.BigPlayerUI = false;
        AppState.UiReady = true;       
    }
}
