@page "/submit"

<h3>Submit a Track</h3>

<p>Upload a track for the radio playlist</p>
<em>Coming soon...</em>


@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.BigPlayerUI = false;
        AppState.UiReady = true;       
    }
}
