.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.navbar-header {
    float: left;
}

.navbar-nav {
    float: right;
}

