<h3>ArtistStats</h3>

@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.UiReady = true;       
    }
}
