@using Microsoft.JSInterop

@if (AppState.IsPlaying)
{
    <div id="masterButton">
        <span class="h1" style="font-size:@FontSize;" onclick="@StopStream" id="masterButton">
            <i class="fa-regular fa-circle-pause" style="color:@FontColour; " ></i>
        </span>
    </div>
}
else
{
    <div id="masterButton">
        <span class="h1" style="font-size:@FontSize" onclick="@StartStream" >
            <i class="fa-regular fa-circle-play" style="color:@FontColour;" ></i>
        </span> 
    </div>
}

@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    [Parameter]
    public string FontSize { get; set; }

    [Parameter]
    public string FontColour { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    private IJSObjectReference _jsModule;

    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/player/components/masterbutton.js");
    }

    private async Task StartStream()
    {
        string URL = AppState.CurrentStream.URL.ToString();
        await _jsModule.InvokeVoidAsync("startPlayer", URL);
        AppState.IsPlaying = true;
    }

    private async Task StopStream()
    {
        await _jsModule.InvokeVoidAsync("stopPlayer");
        AppState.IsPlaying = false;
    }
}