@using Microsoft.JSInterop
@inject IJSRuntime JS;


@if (AppState.IsPlaying)
{
    <div id="masterButton">
        <span class="h1" style="font-size:@FontSize;" onclick="@StopHowler" id="masterButton">
            <i class="fa-regular fa-circle-pause" style="color:@FontColour; " ></i>
        </span>
    </div>
}
else
{
    <div id="masterButton">
        <span class="h1" style="font-size:@FontSize" onclick="@PlayHowler" >
            <i class="fa-regular fa-circle-play" style="color:@FontColour;" ></i>
        </span> 
    </div>
}


@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    [Parameter]
    public string FontSize { get; set; }

    [Parameter]
    public string FontColour { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task PlayHowler()
    {
        await JS.InvokeVoidAsync("startHowlerPlayer");
        AppState.IsPlaying = true;
    }

    private async Task StopHowler()
    {
        await JS.InvokeVoidAsync("stopHowlerPlayer");
        AppState.IsPlaying = false;
    }
}